* {
  font-family: Arial, Helvetica, sans-serif
}

.content{
  margin: 1% 15% 1% 15%;
}

body{
  background-color: khaki;
}

#contenido{
  background-color:coral;
}

.cuerpo{
  display: grid;
  padding: 2%;
}

.fotos{
  width: 30%; 
  padding:0% 1% 0%;
  transition: transform .5s;
}

.fotos:hover{
  -webkit-transform: scale(1.5);
  transform: scale(1.2)
}

.titulo{
  width: 55%;
  font-size: 2.5vw;
  color:lightpink;
  background-color: orangered;  
  border-radius: 50%;
}

.logos{
  width:7.5%;
}





.footer {
  color: white;
  background-color: #e61d039d;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  
}


.social-link.facebook {
  background-image: url('../images/facebook.svg');
  background-color: #0a56a3c5;
  border-radius: 50px 50px 50px 50px;

}

.social-link.facebook:hover{
    opacity: 0.7;
}


.social-link.instagram {
  background-image: url('../images/instagram.svg');
  background-color: #e20a0ac5;
  border-radius: 50px 50px 50px 50px;

}
.social-link.instagram:hover{
  opacity: 0.7;
}
  

.fa {
  font-size: 50px;
  width: 50px;
  text-decoration: none;
  padding: 2px ;
  
}
.fa:hover {
  opacity: 0.7;
}
.fa-whatsapp {
  background-color: #25d366;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 40px 40px 40px 2px;
  
}
