.content{
margin:50px 200px 0px 200px;
}

body{
  background-color: #ffc068b0;
}

#contenido{
  background-color: #efa94a;
}

.container2{  
  padding: 5px 30px 30px 90px;  
}

.fotos{
  margin: 50px 0px 50px 0px;
}





.footer {
  color: white;
  background-color: #e61d039d;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}


.social-link.facebook {
  background-image: url('../images/facebook.svg');
  background-color: #0a56a3c5;
}

.social-link.instagram {
  background-image: url('../images/instagram.svg');
  background-color: #e20a0ac5;
}

